@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900;1000&family=Quattrocento+Sans:wght@400;700&display=swap");

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
}

:root {
   --mulish: "Mulish", sans-serif;
   --quattrocento: "Quattrocento Sans", sans-serif;
   --dark: #01000f;
   --black: #000;
   --lblue: #14213d;
   --orange: #fcae31;
   --white: #fff;
   --light: #e5e5e5;
}

.shadow-drop-2-center:hover {
   -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
   animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes shadow-drop-2-center {
   0% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
   }
   100% {
      -webkit-transform: translateZ(50px);
      transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
   }
}

@keyframes shadow-drop-2-center {
   0% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
   }
   100% {
      -webkit-transform: translateZ(50px);
      transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
   }
}

.color-change-2x:hover {
   -webkit-animation: color-change-2x 1s linear infinite alternate both;
   animation: color-change-2x 1s linear infinite alternate both;
   color: #000;
}
@-webkit-keyframes color-change-2x {
   0% {
      background: #fcae31;
   }
   100% {
      background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #def9fa 0.89%, #bef3f5 17.23%, #9dedf0 42.04%, #7de7eb 55.12%, #5ce1e6 71.54%, #33bbcf 100%);
   }
}
@keyframes color-change-2x {
   0% {
      background: #fcae31;
   }
   100% {
      background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #def9fa 0.89%, #bef3f5 17.23%, #9dedf0 42.04%, #7de7eb 55.12%, #5ce1e6 71.54%, #33bbcf 100%);
   }
}

.color-change-4x:hover {
   -webkit-animation: color-change-4x 6s linear infinite alternate both;
   animation: color-change-4x 6s linear infinite alternate both;
}

@-webkit-keyframes color-change-4x {
   0% {
      /* background: #19dcea; */
      background: #fcae31;
   }
   33.3333% {
      background: #b22cff;
   }
   66.666% {
      background: var(--lblue);
   }
   100% {
      background: #f5be10;
   }
}
@keyframes color-change-4x {
   0% {
      background: #fcae31;
   }
   33.3333% {
      background: #b22cff;
   }
   66.666% {
      /* background: #ea2222; */
      background: var(--lblue);
   }
   100% {
      background: #f5be10;
   }
}
@media screen and (max-width: 1115px) {
   .nav_logo_img {
      width: 241px;
   }
   .main {
      padding: 1rem;
      margin-top: 0.2rem;
   }
   .overlays_web {
      display: block;
   }

   .aboutUs_content p {
      max-width: 425px;
   }
   .aboutUs__img-container {
      width: 430px;
      margin-right: 2rem;
   }
   .Contact-us {
      padding: 4rem 4rem 4rem 4rem;
      width: 100%;
      height: 100%;
   }
   .contact_form div .br {
      background: var(--black);
      width: 400px;
      height: 1px;
      margin-bottom: 2rem;
   }
   .contact_form input {
      font-size: 32px;
   }
   .contact_form textarea {
      padding: 0 0 3rem 0;
      font-size: 24px;
      width: 400px;
   }
   .contact_GIT h1 {
      font-size: 60px;
   }
   .contact_GIT p {
      font-size: 20px;
      line-height: 34.5px;
      width: 400px;
      height: 100%;
      flex-shrink: 0;
      margin-bottom: 1rem;
   }
   input::placeholder {
      font-size: 24px;
   }

   .contact_form textarea::placeholder {
      font-size: 24px;
   }

   .line {
      width: 1px;
      height: 98vw;
      margin: 0 2rem;
   }
   .contact__info p {
      font-size: 20px;
   }
   .footer__company_images img {
      margin-right: 1rem;
   }
}
