.main {
   background: var(--white);
   padding: 1rem 4rem;
   overflow: hidden;
}

/* Navbar */
nav {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: row;
   min-height: 63px;
   z-index: 5;
}

.nav_logo_img {
   width: 255px;
   display: flex;
}
.navlinks {
   display: flex;
}
nav ul {
   display: flex;
   align-items: center;
   justify-content: center;
}

nav a {
   padding: 0 1.5rem;
   color: var(--dark);
   font-family: var(--quattrocento);
   font-size: 1rem;
}
.Navbar_btn {
   color: #fff;
   font-family: var(--quattrocento);
   font-size: 18px;
   font-weight: 700;
   line-height: normal;
   border-radius: 2rem;
   background: var(--dark);
   padding: 1rem 1.5rem;
   cursor: pointer;
   outline: none;
   z-index: 100;
   border: none;
   text-align: center;
   box-shadow: 1px 1px 5px #14213d;
}
/*.bar_container {
   display: flex;
   justify-content: center;
   align-items: center;
   display: none;
}
.hamburger-button {
   width: 24px;
   height: 24px;
   cursor: pointer;
   z-index: 5;
}

 .navbar-menu {
   margin-left: 1rem;
   position: relative;
   z-index: 5;
}
.nav-links {
   display: none;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: start;
   padding: 2rem;
   position: absolute;
   top: 40px;
   right: 0;
   margin: 1rem;
   min-width: 210px;
   border-radius: 5px;
   background: var(--dark);
   box-shadow: 0 0 0 5 rgba(0, 0, 0, 0.2);
   z-index: 100;
}
.nav-links li {
   padding: 0.5rem;
}

.nav-links a {
   color: var(--white);
}
.nav-links button {
   font-size: 16px;
   border-radius: 0.5rem;
   padding: 0.5rem 1rem;
   margin-top: 0.5rem;
   background: var(--lblue);
   box-shadow: 1px 1px 5px var(--lblue);
} */
/* Hero_Section */

.hero {
   display: flex;
   flex-direction: column;
   padding-bottom: 8rem;
}
.hero_content_container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
   width: 100%;
   height: 100%;
   padding-top: 3rem;
}
.header_h1 {
   z-index: 5;
   min-width: 946px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.hero_headline {
   width: 759px;
   height: 220px;
   text-align: center;
   font-size: 64px;
   font-weight: 700;
   line-height: 73px;
   position: relative;
   color: var(--dark);
   font-family: var(--quattrocento);
   margin: 2rem 0;
}

.hero_paragraph1 {
   font-size: 24px;
   text-align: center;
   color: var(--lblue);
   font-family: var(--mulish);
   flex-wrap: wrap;
   z-index: 5;
   line-height: normal;
   max-width: 586px;
   height: 90px;
   margin-top: 1rem;
}
.hero_paragraph2 {
   font-size: 32px;
   margin-bottom: 1rem;
   color: var(--orange);
   font-family: var(--mulish);
   margin-top: 1.5rem;
   z-index: 5;
}

.hero_btn {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   margin-top: 2rem;
   z-index: 5;
}

.hero_btn button:nth-child(1) {
   color: var(--white);
   font-family: var(--quattrocento);
   background: var(--dark);
   width: 150px;
   height: 44px;
   font-size: 20px;
   font-weight: 700;
   border-radius: 50px;
   outline: none;
   border: none;
   margin-right: 1.4rem;
   cursor: pointer;
}
.hero_btn button:nth-child(1):hover {
   background: var(--orange);
   color: var(--dark);
   border: 2px solid var(--lblue);
}

.hero_btn button:nth-child(2) {
   color: var(--dark);
   font-family: var(--quattrocento);
   width: 150px;
   height: 44px;
   flex-shrink: 0;
   font-size: 20px;
   font-weight: 700;
   border-radius: 50px;
   border: 2px solid #01000f;
   cursor: pointer;
}
.hero_btn button:nth-child(2):hover {
   background: var(--orange);
   color: var(--dark);
}
.overlays_web {
   display: none;
}

.hero_overlay-lg {
   border-radius: 411px;
   background: var(--light);
   filter: blur(30px);
   width: 411px;
   height: 411px;
   flex-shrink: 0;
   position: absolute;
   z-index: 0;
   left: 0;
   bottom: -50px;
}
.hero_overlay-lg_ri {
   border-radius: 411px;
   background: var(--light);
   filter: blur(30px);
   width: 411px;
   height: 411px;
   flex-shrink: 0;
   position: absolute;
   z-index: 0;
   right: 50px;
   top: 40px;
}

/* AboutUS section */
.section__padding {
   padding: 2rem 7rem 7rem 2rem;
   background: var(--dark);
   width: 100%;
}
.aboutUs_content {
   display: flex;
   justify-content: space-around;
   align-items: flex-start;
   flex-direction: row-reverse;
   margin-top: 4rem;
   width: 100%;
}

.about__h1 {
   color: var(--orange);
   font-family: var(--quattrocento);
   margin: 2rem 0 2.5rem 0;
   font-size: 36px;
   text-align: center;
}

.aboutUs_content p {
   color: var(--light);
   font-family: var(--mulish);
   font-size: 24px;
   line-height: 34px;
   max-width: 525px;
   height: 100%;
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: start;
}
.aboutUs__img-container {
   flex-shrink: 0;
   background: #d9d9d9;
   margin-right: 2rem;
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   min-width: 435px;
   height: 582px;
   margin-bottom: 3rem;
   margin-right: 0;
}

.aboutUs__learn-more_btn {
   color: var(--white);
   font-family: var(--quattrocento);
   font-size: 20px;
   font-weight: 700;
   padding: 1rem 2rem;
   margin-top: 2rem;
   border-radius: 2rem;
   border: 2px solid #fcae31;
   background: var(--dark);
   cursor: pointer;
   text-align: center;
}
.aboutUs_content div:nth-child(1) {
   padding: 2.5rem 0;
}

/* portfolio Section */

.portfolio {
   overflow: hidden;
   position: relative;
   width: 100%;
   height: 100vh;
   background: rgba(0, 0, 0, 0.6);
   z-index: 5;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   padding: 0 2rem;
}
.portfolio__container {
   max-width: 80%;
}
.portfolio__overlay {
   position: absolute;
   background: rgba(0, 0, 0, 0.6);
   z-index: -1;
   width: 100%;
   height: 100%;
}

.portfolio__img_lg {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
   position: absolute;
   z-index: -100;
   inset: 0;
   opacity: 0.8;
}

.portfolio__h1 {
   max-width: 615px;
}
.portfolio h1 {
   color: #fff;
   font-family: Mulish;
   font-size: 32px;
   font-style: normal;
   font-weight: 500;
   line-height: 57.6px;
   letter-spacing: 2.08px;
   width: 100%;
   flex-shrink: 0;
}
.portfolio h1 span {
   width: 107px;
   border-bottom: 1.5px solid #fff;
}

.portfolio__project {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 2rem;
   margin-bottom: 5rem;
   width: 70vw;
}
.portfolio__project button {
   color: #fff;
   font-family: var(--quattrocento);
   font-weight: 700;
   align-items: center;
   border-radius: 50px;
   border: 1.5px solid #fff;
   background: none;
   cursor: pointer;
   margin-bottom: 0;
   padding: 0.8rem 1.3rem;
   font-size: 18px;
}
.pro_content {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.pro_content div svg {
   width: 150.654px;
   height: 50px;
   flex-shrink: 0;
   cursor: pointer;
}
.portfolio__project button:hover {
   background: var(--orange);
   color: var(--dark);
   outline: none;
   border: none;
}

/* ContactUs */

.Contact-us {
   padding: 4rem 10rem 1rem 10rem;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
}
.flex__row {
   display: flex;
   flex-direction: row;
   height: 100%;
}

.contact_GIT {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}
.contact_GIT h1 {
   color: var(--dark);
   text-align: center;
   font-family: var(--quattrocento);
   font-size: 70px;
   font-style: italic;
   font-weight: 700;
   line-height: 148px;
}

.contact_GIT p {
   color: var(--dark);
   font-family: var(--mulish);
   font-size: 24px;
   font-style: normal;
   font-weight: 400;
   line-height: 41.5px;
   width: 513px;
   height: 209px;
   flex-shrink: 0;
   margin-bottom: 1rem;
}

.contact_form div {
   height: 100%;
   width: 100%;
   margin-bottom: 2rem;
}
.contact_form div .br {
   background: var(--black);
   width: 563px;
   height: 1px;
   margin-bottom: 2rem;
}
.contact_form input {
   border: none;
   padding: 2rem 0;
   outline: none;
   font-size: 32px;
   color: var(--dark);
}
input::placeholder {
   opacity: 0.35;
   color: var(--black);
   font-family: var(--mulish);
   font-size: 32px;
   font-style: normal;
   font-weight: 700;
   padding: 1rem 0;
   height: 100%;
   line-height: 41.5px;
}

.contact_form textarea {
   border: none;
   width: 563px;
   padding: 0 0 5rem 0;
   outline: none;
   overflow: hidden;
   font-size: 32px;
   color: var(--lblue);
   font-weight: 600;
}
.contact_form textarea::placeholder {
   color: var(--black);
   opacity: 0.35;
   font-family: var(--mulish);
   font-size: 32px;
   font-style: normal;
   font-weight: 700;
   width: 100%;
   height: 100%;
   line-height: 41.5px;
   text-align: start;
}
.conatct_btn_container {
   display: flex;
   align-items: flex-end;
   justify-content: flex-end;
   margin-top: 3rem;
}

.contact_btn {
   color: var(--white);
   font-family: var(--quattrocento);
   font-size: 24px;
   font-weight: 700;
   padding: 0.8rem 2rem;
   border-radius: 50px;
   background: var(--dark);
   text-align: center;
   border: none;
   outline: none;
   cursor: pointer;
}
.contact_btn:hover {
   color: var(--black);
   background: var(--orange);
}

.line {
   background: var(--black);
   width: 1px;
   height: 78vw;
   margin: 0 3rem;
}
.contact__info {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
}
.contact__info p {
   color: var(--black);
   font-family: var(--mulish);
   font-size: 27px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   padding: 1rem 0;
}

.footer_seperator {
   background: var(--black);
   width: 90%;
   height: 1.5px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 8rem;
   margin-bottom: 4rem;
}
/* Footer */
footer {
   padding: 0rem 8rem 1rem 8rem;
   width: 100%;
   flex-wrap: wrap;
}
.footer__container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;
   margin-bottom: 4rem;
}
.footer__container div {
   flex: 1;
   flex-wrap: wrap;
}
.footer__container div:nth-child(1) {
   flex: 1.8;
}

.footer__logo {
   margin-bottom: 2rem;
}

.footer__impression {
   color: var(--dark);
   font-family: var(--mulish);
   font-size: 28px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}
.footer__company_images {
   margin: 2rem 0;
}
.footer__company_images img {
   margin-right: 2rem;
   cursor: pointer;
}

.footer__mail {
   color: var(--black);
   font-family: var(--quattrocento);
   font-size: 24px;
   font-style: normal;
   font-weight: 400;
}
.footer__links {
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
   margin-top: 2rem;
}

.footer__links h1 {
   color: var(--dark);
   font-family: var(--quattrocento);
   font-size: 32px;
   font-weight: 700;
   margin-bottom: 2rem;
}
.footer__links a {
   color: var(--dark);
   font-family: var(--mulish);
   font-size: 24px;
   font-weight: 400;
   line-height: 191.5%; /* 61.28px */
   padding: 0.3rem 0;
   margin-left: 0.5rem;
}
.footer__links a:hover {
   color: var(--orange);
}

.WWd {
   margin-right: 3rem;
}
.copyright {
   color: var(--black);
   font-family: var(--quattrocento);
   font-size: 24px;
   font-weight: 400;
   text-align: center;
}
.footer__home {
   width: fit-content;
   border-bottom: 3px solid var(--dark);
   padding: 0 0;
}
